#category-banner{
    width: 100%;
    /*width: 300px;*/
    height:300px;
    background-color: turquoise;
    overflow: auto;
    background-image: url('/static/tourapp/images/cat6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background 0.4s ease;
}

#category-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(23, 162, 184);
    margin-top: 20px;
    /*margin-left: 50px;*/
}
.select-wrapper {
    margin-top: 110px;

}
#user-input {
    /*resize: vertical;*/
  overflow: auto;
   padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 500px;
  height: 110px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}


.select-wrapper span {
	font-family: FontAwesome;
  	content: '\f107';
    font-size: 28px;
    position: relative;
    left: -50px;
  	color: turquoise;
  	pointer-events: none;
}
.card-title{
    margin: auto;
    /*margin-top: 10px;*/
}
.tour-card{
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #f1f1f1;
}

.tour-card:hover{
    border: 5px solid white;

}
.tour-text{
    height: 100%;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
  font-size: 10px;
     word-wrap: break-word;
     font-family: FontAwesome, sans-serif;
    margin-top: 20px;
    text-align: center;
    display: block;
}


.tour-image{
    overflow: hidden;
    object-fit: cover;
    width: 300px;
    height: 200px;

}

#tours-list{
    display: inline-block;
    overflow: hidden;
}

#tours-list-wrapper{
    text-align: center; 
    padding:30px; 
    padding-left: 100px;
    width:100%;
}

.card-body {
    height: 83px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}