{% extends 'tourapp/base.html' %}
{% block content %}

<div id="category-banner" class="text-center" xmlns="http://www.w3.org/1999/html">
    <div class="select-wrapper">
        <textarea id="user-input" placeholder="Example: Munich"></textarea>

    </div>
    <button type="submit" id="category-btn">Search</button>
</div>


<!--TOURS LIST-->
<div id="tours-list-wrapper">
    <div id="tours-list">
        {% for tour in tours %}
        <div id="newTour" class="card tour-card shadow mb-4" card_id={{forloop.counter0}} onclick="getDetails( '[{{tour}}]' )">
            <a href="tour/{{forloop.counter0}}/detail/">
                <div class="tour-image">
                    <img class="card-img-top" src={{tour.image_url}} width="300px" height="200px" object-fit="cover">
                </div>
<!--                <div class="card-body">-->
                    <div class="card-title"><span class="tour-text">{{tour.tour_title}}</span></div>
<!--                </div>-->
            </a>
        </div>
        {% endfor %}
    </div>
</div>


<!--SAMPLE RESTAURANT-->
<div id="newTour" class="card tour-card shadow mb-4" style="display:none;" >
    <a href="/">
        <div class="tour-image">
            <img class="card-img-top" src width="100%">
        </div>
        <div class="card-body">
            <div class="card-title"><span class="tour-text"></span></div>
        </div>
    </a>
</div>

<!--CSS & JS-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tourapp/style/home.css' %}" />
{% load static %}
<script src="{% static 'tourapp/js/home.js' %}"> </script>

<script>
    getTours();
</script>
{% endblock %}
