{% extends 'reviewapp/base.html' %}

{% block content %}
<title>Tour Details: {{ tour_title }}</title>


<p>
  <!-- your content here... -->
  tour_duration: {{tour_data_json.tour_duration}}
  tour_length:{{tour_length}}
  tour_rating_condition:{{tour_rating_condition}}
  tour_rating_difficulty:{{tour_rating_difficulty}}
  tour_rating_landscape:{{tour_rating_landscape}}
  tour_label_top:{{tour_label_top}}
  tour_starting_point_lon:{{tour_starting_point_lon}}}
  tour_starting_point_lat:{{tour_starting_point_lat}}
  tour_short_text: {{tour_short_text}}
  tour_long_text:{{tour_long_text}}
  tour_url:{{tour_url}}
</p>
{% endblock content %}


